.flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.flex2{
    display:flex;
    flex-flow:column wrap;
    justify-content: flex-start;
}
.flex3 {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.flexwrap{
    display:flex;
}
.menu {
    background: lightgrey;
    width:150px;
    margin-left:10px;
    border:2px solid black;
    height:270px;
}
.head {
    background-color: lightgrey;
    border:2px solid black;
    margin-left:10px;
    margin-right:10px;
}
.flex>div {
    background-color: darkgrey;
    margin: 10px;
    padding: 10px;
    font-size:30px;
}
.flex2>div {
    background-color: darkgrey;
    margin: 20px;
    padding: 10px;
    font-size: 25px;
}
.content{
    background-color:lightgrey;
    padding-left:10px;
    border:1px solid black;
    padding-right:10000px;
}
.content p{
    margin-right:10px;
    width:auto;
}